<%= render 'shared/nav' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 id="seed-word">Seed word: <%= @word %> </h4>
      <h3 class="listening-info"> You are listening to
        <%= @track["name"] %> from the album <%= @track["album"]["name"] %> by
        <%= @track["artists"].each.map{|x| x["name"]}.to_sentence %>.
        <audio controls autoplay>
          <source src="<%= @track["preview_url"] %>" type="audio/mpeg">
            Sorry, your browser does not support embedded audio playback.
        </audio>
        <%= link_to "Link", @track["preview_url"], class: "smaller-font" %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3><%= link_to "Get another song", song_path, class: "btn btn-md btn-primary", id: "play-again-link" %></h3>
    </div>
  </div>
</div>
<% length = session[:history].length %>
<% if length > 1 %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 id="recently-played-txt">
          You've recently listened to:
        </h3>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr id="table-header">
          <th>Track</th>
          <th>Album</th>
          <th>Artist(s)</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
      <% (length - 2).downto(0).each do |idx| %>
        <tr class="history">
          <% title = session[:history][idx][0] %> 
          <% album = session[:history][idx][1] %> 
          <% artists = session[:history][idx][2] %>
          <% time = session[:history][idx][3] %>
          <td><%= title %></td>
          <td><%= album %></td>        
          <td><%= artists%></td>
          <td><%= time %></td>
        </tr>
      <% end %>
      <tbody>
    </table>
    <% end %>
